!.gitignore
client/src/components/api.js
release

# database
db/data.json
db/data.json.bkup
db/usr.txt
db/slides/*

# client dependency
client/node_modules
client/src/assets
cliend/build

client/public/cat.png

# api
client/src/components/api.js
client/src/components/site_config.js
