!.gitignore
client/src/components/api.js
release

# database
db/data.json
db/data.json.bkup
db/usr.txt

# client dependency
client/node_modules
client/src/assets

client/public/cat.png

# api
client/src/components/api.js
client/src/components/site_config.js
